package ${package}.biz;

import org.springframework.stereotype.Service;

import ${package}.entity.${className};
import ${package}.mapper.${className}Mapper;
import com.github.wxiaoqi.security.common.biz.BaseBiz;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public class ${className}Biz extends BaseBiz<${className}Mapper,${className}> {

  @Override
  private ${className}Mapper bizMapper;

  @Override
  protected void baseXInsertHandler(${className} entity) {
  }

  @Override
  protected void baseXDeleteByIdHandler(Object id) {
  }

  @Override
  protected void baseXUpdateSelectiveByIdHandler(${className} entity) {
  }

  @Override
  protected void BaseXSelectByQueryHandler(Example example) {
  }

}
